<div class="container">
    <div class="card my-3">
        <h2 class="card-header">Invoice</h2>
        <div class="body">
            <invoice-view [id]="invoice.id" [name]="invoice.name"></invoice-view>
            <div class="row my-3">
                <div class="col">
                    <client-view [client]="invoice.client"></client-view>
                </div>
                <div class="col">
                    <company-view [company]="invoice.company"></company-view>
                </div>
            </div>
            <list-items [items]="invoice.items" (removeEventEmitter)="removeItem($event)"></list-items>
            <total [total]="invoice.total"></total>
            <form-item/>
        </div>
    </div>
</div>